body {
    color: slategray;
    background-color: #F3F4F6 ;
    margin: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 30px;
    font-size: 12px;
}

h1 {
    font-size: 30px;
}

.form-container {
    display: flex;
    flex-direction: row;
}



input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    border: solid 2px #E5E7EB;
    border-radius: 15px;
    outline: none;
}

.input-field {
    display: flex;
    flex-direction: row;
}

.currency-select {
    color: white;
    font-size: 13px;
    text-align: center;
    background-color: #2563EB;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;   
    outline: none;
}

.currency-select:hover {
    background-color: hsla(221, 83%, 53%, 0.75);
}

.input-one-active {
    border: 2px solid #3B82F6;
}

.swap-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

#swap-btn {
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: #F87171;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#swap-btn:hover {
    background-color: hsla(0, 91%, 71%, 0.75);
}

#swap-btn:active {
    background-color: hsla(0, 91%, 71%, 0.50);
}